@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Roboto&family=Spline+Sans+Mono:wght@500&display=swap');

@font-face {
    font-family: NSABold;
    src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf");
}

@font-face {
    font-family: NSARegular;
    src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
}

@font-face {
    font-family: NSAMedium;
    src: url("../fonts/Noto_Sans/NotoSans-Medium.ttf");
}

@font-face {
    font-family: NSALight;
    src: url("../fonts/Noto_Sans/NotoSans-Light.ttf");
}

@font-face {
    font-family: NSAThin;
    src: url("../fonts/Noto_Sans/NotoSans-Thin.ttf");
}