main{
	h2{
		font-family: 'Lobster Two', cursive;
	}
    .items_wrapper{
        display: grid;
		grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
		grid-gap: 20px;
		.item {
			max-width: 100%;
		}
    }
}